body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.col-4
{
  float:left;
  width: 24%;
  padding: 5px;
}
.blockStyle
{
  background-color: #e8e8e8;
  border-radius: 10px;
  border: 1px solid #cccbcb;
  padding:10px;
}
.flex
{
  display: flex;
}
.flex span
{
  font-size: 10px;
}
.textBox
{
  height: 100px;
  padding-top: 10px;
  overflow: hidden;
  font-size: 13px;
}
h6
{
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 13px;
  height: 29px;
}
.left
{
  float: left;
}

.leftPart
{
  width: 20%;
}
.rightPart
{
  width: 20%;
}
.center
{
  width: 60%;
}
.clear
{
  clear: both;
}
.btnGroup
{
  display: flex;
  text-align: center;
}
.btnGroup span
{
  display: inline-block;
  border: 1px solid #ada8a8;
  border-radius: 10px;
  width: 30px;
  text-align: center;
  margin: 0 5px;
  overflow: hidden;
  background: #d8d7d7;
  font-weight: bold;
}
.minus
{
  margin-top: 1px;
}
.btnGroup span input
{
  width: 100%;
  text-align: center;
  border-radius: 10px;
  border: none;
  outline: none;
}
.btnGroup span:hover
{
  cursor: pointer;
  background: green;
  color: white;
}
img
{
  max-width: 100%;
  max-height: 100%;
}
.addToCard
{
  background: none !important;
  border: none !important;
}
.addToCard img
{
  max-height: 17px;
}
#cart img
{
  max-width: 100px;
}
#root>div
{
  display: flex;
}

#root>div>.left
{
  margin: 10px;
  background: #f5f5f5;
  border-radius: 10px;
  border:1px solid #e8e8e8 !important;
}
.filterRow label
{
  display: block;
  margin-bottom: 5px;
  text-align: center;
}
.filterRow select
{
  border: 1px solid #ada8a8;
  border-radius: 10px;
  background: #ffffff;
  outline: none;
  width: 100%;
  padding: 5px;
}
.filterRow p
{
  padding: 0;
  margin: 0;
}
.filterRow
{
  background: #e8e8e8;
  border: 1px solid #cccbcb;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
}
.cartList
{
  max-height: 520px;
  overflow-y: scroll;
  padding-right: 15px;
}
.cartList .col-4
{
  width: 100% !important;
  float: none;
}
.cartList .col-4 .textBox
{
  height: 60px;
}
#cart span
{
  font-size: 56px;
  color: green;
  margin-top: 34px;
}